In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('airport_promo_2021_06.csv')
print(df.head())

   user_id    group  promo_spend  rental_count  total_gross_revenue  net_rev  \
0  6953219   test_7          NaN           0.0                  0.0      0.0
1  7107695  test_11          NaN           0.0                  0.0      0.0
2  4906705  test_11          NaN           0.0                  0.0      0.0
3  5029568  control          NaN           0.0                  0.0      0.0
4  4962878  test_11          NaN           0.0                  0.0      0.0

   fee_gmv
0      NaN
1      0.0
2      NaN
3      0.0
4      0.0

In [3]:
df = df.fillna(0)

In [5]:
bins = pd.cut(df['total_gross_revenue'], bins = 10)
print(bins.value_counts())

(-0.8, 80.0]      1046959
(80.0, 160.0]        1315
(160.0, 240.0]        219
(240.0, 320.0]         51
(320.0, 400.0]         23
(560.0, 640.0]          4
(400.0, 480.0]          3
(720.0, 800.0]          1
(640.0, 720.0]          0
(480.0, 560.0]          0
Name: total_gross_revenue, dtype: int64

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_id              1048575 non-null  int64
 1   group                1048575 non-null  object
 2   promo_spend          1048575 non-null  float64
 3   rental_count         1048575 non-null  float64
 4   total_gross_revenue  1048575 non-null  float64
 5   net_rev              1048575 non-null  float64
 6   fee_gmv              1048575 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 56.0+ MB
None

In [8]:
import statsmodels.stats.multicomp as mc

comp1 = mc.MultiComparison(df['rental_count'], df['group'])
post_hoc_res1 = comp1.tukeyhsd()
post_hoc_res1.summary()

In [9]:
columns = ['rental_count', 'total_gross_revenue', 'net_rev', 'fee_gmv']

for column in columns:
    comp = mc.MultiComparison(df[column],df['group'])
    post_hoc_res = comp.tukeyhsd()
    print("ANOVA results of column: " + column + '\n')
    print(post_hoc_res.summary())

ANOVA results of column: rental_count

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0001  -0.0004 0.0005 False
control  test_7   0.0    -0.0004 0.0005 False
test_11  test_7   -0.0   -0.0005 0.0004 False
----------------------------------------------
ANOVA results of column: total_gross_revenue

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0115  -0.0243 0.0473 False
control  test_7  0.0095  -0.0263 0.0452 False
test_11  test_7  -0.002  -0.0377 0.0337 False
----------------------------------------------
ANOVA results of column: net_rev

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0016  -0.0041 0.0072 False
control  test_7  0.0013  -0.0043 0.0069 False
test_11  test_7 -0.0003  -0.0059 0.0053 False
----------------------------------------------
ANOVA results of column: fee_gmv

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11   0.0    -0.0014 0.0015 False
control  test_7 -0.0003  -0.0018 0.0012 False
test_11  test_7 -0.0003  -0.0018 0.0011 False
----------------------------------------------

In [10]:
rentals_only = df['rental_count'] >= 1
df2 = df[rentals_only]
print(df2.head())

     user_id    group  promo_spend  rental_count  total_gross_revenue  \
321  8094461   test_7          7.0           1.0                28.48
322  6165010   test_7          7.0           1.0                26.00
323   933854  test_11         11.0           1.0                33.00
324  3585847  test_11         11.0           1.0                52.00
325  8411600  test_11         11.0           1.0                23.28

     net_rev  fee_gmv
321     5.26     3.99
322     4.87     2.49
323     5.94     2.99
324     8.75     2.49
325     4.47     2.49

In [14]:
for column in columns:
    comp = mc.MultiComparison(df2[column],df2['group'])
    post_hoc_res = comp.tukeyhsd(alpha=0.05)
    print("ANOVA results of column: " + column + '\n')
    print(post_hoc_res.summary())

ANOVA results of column: rental_count

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11 -0.0186  -0.0523 0.0151 False
control  test_7  0.0134  -0.0206 0.0474 False
test_11  test_7  0.032   -0.0017 0.0656 False
----------------------------------------------
ANOVA results of column: total_gross_revenue

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.2905  -4.3102 4.8912 False
control  test_7  2.778   -1.8593 7.4152 False
test_11  test_7  2.4875  -2.1088 7.0838 False
----------------------------------------------
ANOVA results of column: net_rev

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11 -0.0131  -0.7086 0.6824 False
control  test_7  0.3938  -0.3072 1.0949 False
test_11  test_7  0.4069  -0.2879 1.1018 False
----------------------------------------------
ANOVA results of column: fee_gmv

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  -0.088  -0.2247 0.0487 False
control  test_7 -0.0188  -0.1566 0.119  False
test_11  test_7  0.0692  -0.0673 0.2058 False
----------------------------------------------

In [16]:
df_markets = pd.read_csv('airport_promo_markets_2021_06.csv')
print(df_markets.head())

   user_id   group         market  rental_count  total_gross_revenue  net_rev
0  8083041  test_7  Other Markets            15               148.73    24.23
1  8315464  test_7  Other Markets             9               348.85    61.23
2  7839854  test_7  Other Markets             8               262.14    47.25
3  7693189  test_7  San Francisco             7               260.00    44.94
4  8280702  test_7  Other Markets             6                51.83     8.77

In [17]:
df_markets_pivot = df_markets.pivot(index=['user_id','group'],columns='market',values='rental_count')
print(df_markets_pivot.head())

market           Boston  Chicago  New York  Other Markets  Philadelphia  \
user_id group
8476    control     NaN      1.0       NaN            NaN           NaN
9405    control     NaN      3.0       NaN            NaN           NaN
11700   test_11     NaN      1.0       NaN            NaN           NaN
13662   control     NaN      1.0       NaN            NaN           NaN
18000   test_7      NaN      NaN       NaN            1.0           NaN

market           San Francisco  Toronto  Washington
user_id group
8476    control            NaN      NaN         NaN
9405    control            NaN      NaN         NaN
11700   test_11            NaN      NaN         NaN
13662   control            NaN      NaN         NaN
18000   test_7             NaN      NaN         NaN

In [22]:
df_markets_pivot = pd.DataFrame(df_markets_pivot.to_records())

In [23]:
print(df_markets_pivot.head())

   user_id    group  Boston  Chicago  New York  Other Markets  Philadelphia  \
0     8476  control     NaN      1.0       NaN            NaN           NaN
1     9405  control     NaN      3.0       NaN            NaN           NaN
2    11700  test_11     NaN      1.0       NaN            NaN           NaN
3    13662  control     NaN      1.0       NaN            NaN           NaN
4    18000   test_7     NaN      NaN       NaN            1.0           NaN

   San Francisco  Toronto  Washington
0            NaN      NaN         NaN
1            NaN      NaN         NaN
2            NaN      NaN         NaN
3            NaN      NaN         NaN
4            NaN      NaN         NaN

In [24]:
df_markets_pivot = df_markets_pivot.fillna(0)
print(df_markets_pivot.isnull().sum())

user_id          0
group            0
Boston           0
Chicago          0
New York         0
Other Markets    0
Philadelphia     0
San Francisco    0
Toronto          0
Washington       0
dtype: int64

In [26]:
print(df_markets_pivot.columns[2:])

Index(['Boston', 'Chicago', 'New York', 'Other Markets', 'Philadelphia',
       'San Francisco', 'Toronto', 'Washington'],
      dtype='object')

In [28]:
markets = df_markets_pivot.columns[2:].tolist()
print(markets)

['Boston', 'Chicago', 'New York', 'Other Markets', 'Philadelphia', 'San Francisco', 'Toronto', 'Washington']

In [31]:
for market in markets:
    comp = mc.MultiComparison(df_markets_pivot[market],df_markets_pivot['group'])
    post_hoc_res = comp.tukeyhsd(alpha=0.05)
    print("ANOVA results of column: " + market + '\n')
    print(post_hoc_res.summary())

ANOVA results of column: Boston

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0003  -0.0113 0.012  False
control  test_7 -0.0019  -0.0136 0.0098 False
test_11  test_7 -0.0022  -0.0139 0.0095 False
----------------------------------------------
ANOVA results of column: Chicago

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11 -0.0059  -0.0405 0.0287 False
control  test_7 -0.0259  -0.0606 0.0089 False
test_11  test_7  -0.02   -0.0547 0.0147 False
----------------------------------------------
ANOVA results of column: New York

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11 -0.0075  -0.0356 0.0206 False
control  test_7 -0.0012  -0.0294 0.0271 False
test_11  test_7  0.0063  -0.0219 0.0345 False
----------------------------------------------
ANOVA results of column: Other Markets

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  -0.003  -0.0524 0.0464 False
control  test_7  0.0074  -0.0422 0.0571 False
test_11  test_7  0.0104  -0.0391  0.06  False
----------------------------------------------
ANOVA results of column: Philadelphia

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0083  -0.0046 0.0211 False
control  test_7 -0.0013  -0.0142 0.0116 False
test_11  test_7 -0.0095  -0.0224 0.0033 False
----------------------------------------------
ANOVA results of column: San Francisco

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0004  -0.0208 0.0217 False
control  test_7  0.0036  -0.0177 0.025  False
test_11  test_7  0.0032  -0.0181 0.0245 False
----------------------------------------------
ANOVA results of column: Toronto

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11  0.0005  -0.0014 0.0024 False
control  test_7  0.0015  -0.0004 0.0035 False
test_11  test_7  0.001   -0.0009 0.003  False
----------------------------------------------
ANOVA results of column: Washington

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
 group1  group2 meandiff  lower  upper  reject
----------------------------------------------
control test_11 -0.0012  -0.0223  0.02  False
control  test_7  0.0119  -0.0094 0.0332 False
test_11  test_7  0.013   -0.0082 0.0343 False
----------------------------------------------