In [7]:
# Packages imports
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

%matplotlib inline

In [6]:
#Power analysis - Minimum required sample size for Test and Control Groups 

def get_two_proportions_sample_size(
    p1,
    p2,
    alpha=0.05,
    beta=0.2,
    two_side=False
):
    if two_side:
        z_a = stats.norm.ppf(1-alpha/2)
    else:
        z_a = stats.norm.ppf(1-alpha)
    z_b = stats.norm.ppf(1 - beta)
    
    delta = abs(p1 - p2)
    p_bar = (p1 + p2) / 2
    q_bar = 1 - p_bar
    q1 = 1 - p1
    q2 = 1 - p2
    
    n = (np.sqrt(p_bar*q_bar*2)*z_a + np.sqrt(p1*q1+p2*q2)*z_b)**2 / (delta**2)
    return int(np.ceil(n))

get_two_proportions_sample_size(0.015, 0.02)

8504

In [8]:
#Import dataframe, Check for duplicate users

df = pd.read_csv('churn_email_2021_12_03.csv')
duplicate_counts = df['renter_id'].value_counts(ascending=False)
multi_users = duplicate_counts[duplicate_counts > 1].count()

print(f'There are {multi_users} users that appear multiple times in the dataset')

There are 0 users that appear multiple times in the dataset

In [9]:
#Check for null values

df.isnull().sum()

renter_id                 0
test_group                0
rental_count              0
total_gross_revenue       0
promocode_spend_amount    0
dtype: int64

In [17]:
#New boolean column added for converted vs non-converted

converted = df['rental_count'] > 0
df['converted'] = converted.astype('int')

In [10]:
#Snapshot of group aggregates 

df[['test_group','rental_count','total_gross_revenue','promocode_spend_amount']].groupby('test_group').describe().style.format('{:.1f}')

In [14]:
#homogeneity of variance aka assumption that groups have equal variance. Significant result means unequal variance


x,pval = stats.levene(df['rental_count'][df['test_group']== 'Control'],
             df['rental_count'][df['test_group']== 'Test'],
             center= 'mean')

if pval > 0.05:
    print('P-Value = {}. Groups have equal variance'.format(pval))
else:
    print('P-Value = {}. Groups do not have equal variance'.format(pval))

P-Value = 0.5295790828884632. Groups have equal variance

In [18]:
#Snapshot of conversion rate and group variance

groups = ['Test','Control']
df_clean = df[df['test_group'].isin(groups)]

conversion_rates = df_clean.groupby('test_group')['converted']

std_p = lambda x: np.std(x, ddof=0)              # Std. deviation of the proportion
se_p = lambda x: stats.sem(x, ddof=0)            # Std. error of the proportion (std / sqrt(n))

conversion_rates = conversion_rates.agg([np.mean, std_p, se_p])
conversion_rates.columns = ['conversion_rate', 'std_deviation', 'std_error']


conversion_rates.style.format('{:.2f}')

In [19]:
#Aggregates per renter by group

sum_columns = ['rental_count', 'total_gross_revenue', 'promocode_spend_amount','converted']
stats_per_renter = df_clean.groupby('test_group').agg({'renter_id':'count', 'rental_count': 'sum', 'total_gross_revenue': 'sum', 'promocode_spend_amount': 'sum', 'converted': 'sum'})
stats_per_renter['rentals_per_renter'] = stats_per_renter['rental_count'] / stats_per_renter['renter_id']
stats_per_renter['gmv_per_renter'] = stats_per_renter['total_gross_revenue'] / stats_per_renter['renter_id']
stats_per_renter['promo_spend_per_renter'] = stats_per_renter['promocode_spend_amount'] / stats_per_renter['renter_id']
stats_per_renter.style.format('{:.2f}')

In [20]:
#t-tests for rental, GMV, and promospend values. First 'Rental Count'. Not significant

import researchpy as rp

rp.ttest(group1= df['rental_count'][df['test_group'] == 'Control'], group1_name= "Control",
         group2= df['rental_count'][df['test_group'] == 'Test'], group2_name= "Test")

(   Variable        N      Mean        SD        SE  95% Conf.  Interval
 0   Control  41320.0  1.786447  2.021219  0.009943   1.766958  1.805936
 1      Test  41670.0  1.776122  2.015708  0.009875   1.756768  1.795476
 2  combined  82990.0  1.781263  2.018448  0.007007   1.767530  1.794996,
                Independent t-test     results
 0  Difference (Control - Test) =       0.0103
 1           Degrees of freedom =   82988.0000
 2                            t =       0.7368
 3        Two side test p value =       0.4612
 4       Difference < 0 p value =       0.7694
 5       Difference > 0 p value =       0.2306
 6                    Cohen's d =       0.0051
 7                    Hedge's g =       0.0051
 8                Glass's delta =       0.0051
 9                  Pearson's r =       0.0026)

In [21]:
#GMV. Not significant

rp.ttest(group1= df['total_gross_revenue'][df['test_group'] == 'Control'], group1_name= "Control",
         group2= df['total_gross_revenue'][df['test_group'] == 'Test'], group2_name= "Test")

(   Variable        N       Mean         SD        SE  95% Conf.   Interval
 0   Control  41320.0  39.519543  48.302610  0.237624  39.053795  39.985291
 1      Test  41670.0  39.384812  46.699272  0.228770  38.936419  39.833205
 2  combined  82990.0  39.451893  47.504086  0.164899  39.128693  39.775094,
                Independent t-test     results
 0  Difference (Control - Test) =       0.1347
 1           Degrees of freedom =   82988.0000
 2                            t =       0.4085
 3        Two side test p value =       0.6829
 4       Difference < 0 p value =       0.6586
 5       Difference > 0 p value =       0.3414
 6                    Cohen's d =       0.0028
 7                    Hedge's g =       0.0028
 8                Glass's delta =       0.0028
 9                  Pearson's r =       0.0014)

In [22]:
#Promo spend. Significant

rp.ttest(group1= df['promocode_spend_amount'][df['test_group'] == 'Control'], group1_name= "Control",
         group2= df['promocode_spend_amount'][df['test_group'] == 'Test'], group2_name= "Test")

(   Variable        N      Mean        SD        SE  95% Conf.  Interval
 0   Control  41320.0  0.131894  1.326445  0.006525   0.119104  0.144684
 1      Test  41670.0  0.378469  2.186945  0.010713   0.357470  0.399467
 2  combined  82990.0  0.255701  1.814560  0.006299   0.243355  0.268047,
                Independent t-test     results
 0  Difference (Control - Test) =      -0.2466
 1           Degrees of freedom =   82988.0000
 2                            t =     -19.6182
 3        Two side test p value =       0.0000
 4       Difference < 0 p value =       0.0000
 5       Difference > 0 p value =       1.0000
 6                    Cohen's d =      -0.1362
 7                    Hedge's g =      -0.1362
 8                Glass's delta =      -0.1859
 9                  Pearson's r =       0.0679)

In [23]:
#import churn deciles and add to main dataframe. Check null values in new column

churn_list = pd.read_csv('customer_churn_2021_11_10.txt', delimiter= '\t')
df_plus_churn = pd.merge(df,churn_list[['renter_id', 'decile']],on='renter_id',how='left')
df_plus_churn['decile'].isnull().sum()

3060

In [46]:
#fill null values with 0. Change data type to int. Create list for looping

df_plus_churn['decile'] = df_plus_churn['decile'].fillna(0)
df_plus_churn['decile'] = df_plus_churn['decile'].astype(int)
deciles = [1,2,3,4,5,6,7,8,9,10]

In [51]:
#Loop through each decile checking if any are significant. Other than promo spend, no deciles are significantly different

for decile in deciles:
    filtered_df = df_plus_churn[df_plus_churn['decile'] == decile]
    print('T-Test results for decile {}'.format(decile))
    print(rp.ttest(group1= filtered_df['promocode_spend_amount'][filtered_df['test_group'] == 'Control'], group1_name= "Control",
                    group2= filtered_df['promocode_spend_amount'][filtered_df['test_group'] == 'Test'], group2_name= "Test"))

T-Test results for decile 1
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  1304.0  0.086887  0.688282  0.019060   0.049495  0.124279
1      Test  1451.0  0.323118  1.571396  0.041253   0.242197  0.404040
2  combined  2755.0  0.211305  1.240222  0.023629   0.164974  0.257637,                Independent t-test    results
0  Difference (Control - Test) =     -0.2362
1           Degrees of freedom =   2753.0000
2                            t =     -5.0135
3        Two side test p value =      0.0000
4       Difference < 0 p value =      0.0000
5       Difference > 0 p value =      1.0000
6                    Cohen's d =     -0.1913
7                    Hedge's g =     -0.1913
8                Glass's delta =     -0.3432
9                  Pearson's r =      0.0951)
T-Test results for decile 2
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  1629.0  0.133333  0.972996  0.024107   0.086049  0.180618
1      Test  1565.0  0.392506  2.218667  0.056083   0.282499  0.502513
2  combined  3194.0  0.260323  1.706057  0.030187   0.201134  0.319512,                Independent t-test    results
0  Difference (Control - Test) =     -0.2592
1           Degrees of freedom =   3192.0000
2                            t =     -4.3036
3        Two side test p value =      0.0000
4       Difference < 0 p value =      0.0000
5       Difference > 0 p value =      1.0000
6                    Cohen's d =     -0.1523
7                    Hedge's g =     -0.1523
8                Glass's delta =     -0.2664
9                  Pearson's r =      0.0760)
T-Test results for decile 3
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  2541.0  0.113609  0.901482  0.017884   0.078541  0.148677
1      Test  2680.0  0.415274  2.552621  0.049308   0.318588  0.511960
2  combined  5221.0  0.268457  1.939650  0.026844   0.215831  0.321082,                Independent t-test    results
0  Difference (Control - Test) =     -0.3017
1           Degrees of freedom =   5219.0000
2                            t =     -5.6334
3        Two side test p value =      0.0000
4       Difference < 0 p value =      0.0000
5       Difference > 0 p value =      1.0000
6                    Cohen's d =     -0.1560
7                    Hedge's g =     -0.1560
8                Glass's delta =     -0.3346
9                  Pearson's r =      0.0777)
T-Test results for decile 4
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control   915.0  0.242470  1.954714  0.064621   0.115647  0.369292
1      Test   921.0  0.327177  2.117018  0.069758   0.190273  0.464080
2  combined  1836.0  0.284962  2.037633  0.047554   0.191696  0.378228,                Independent t-test    results
0  Difference (Control - Test) =     -0.0847
1           Degrees of freedom =   1834.0000
2                            t =     -0.8906
3        Two side test p value =      0.3733
4       Difference < 0 p value =      0.1866
5       Difference > 0 p value =      0.8134
6                    Cohen's d =     -0.0416
7                    Hedge's g =     -0.0416
8                Glass's delta =     -0.0433
9                  Pearson's r =      0.0208)
T-Test results for decile 5
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control   756.0  0.256878  1.597970  0.058118   0.142787  0.370970
1      Test   770.0  0.573456  2.667833  0.096142   0.384724  0.762188
2  combined  1526.0  0.416619  2.208680  0.056540   0.305715  0.527524,                Independent t-test    results
0  Difference (Control - Test) =     -0.3166
1           Degrees of freedom =   1524.0000
2                            t =     -2.8058
3        Two side test p value =      0.0051
4       Difference < 0 p value =      0.0025
5       Difference > 0 p value =      0.9975
6                    Cohen's d =     -0.1437
7                    Hedge's g =     -0.1436
8                Glass's delta =     -0.1981
9                  Pearson's r =      0.0717)
T-Test results for decile 6
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  2292.0  0.208591  1.800297  0.037604   0.134849  0.282333
1      Test  2132.0  0.362968  2.027795  0.043917   0.276844  0.449092
2  combined  4424.0  0.282988  1.914649  0.028786   0.226553  0.339423,                Independent t-test    results
0  Difference (Control - Test) =     -0.1544
1           Degrees of freedom =   4422.0000
2                            t =     -2.6816
3        Two side test p value =      0.0074
4       Difference < 0 p value =      0.0037
5       Difference > 0 p value =      0.9963
6                    Cohen's d =     -0.0807
7                    Hedge's g =     -0.0807
8                Glass's delta =     -0.0858
9                  Pearson's r =      0.0403)
T-Test results for decile 7
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  2244.0  0.240784  2.127651  0.044915   0.152706  0.328863
1      Test  2307.0  0.380182  2.346428  0.048852   0.284383  0.475981
2  combined  4551.0  0.311448  2.242062  0.033235   0.246292  0.376605,                Independent t-test    results
0  Difference (Control - Test) =     -0.1394
1           Degrees of freedom =   4549.0000
2                            t =     -2.0977
3        Two side test p value =      0.0360
4       Difference < 0 p value =      0.0180
5       Difference > 0 p value =      0.9820
6                    Cohen's d =     -0.0622
7                    Hedge's g =     -0.0622
8                Glass's delta =     -0.0655
9                  Pearson's r =      0.0311)
T-Test results for decile 8
(   Variable       N      Mean        SD        SE  95% Conf.  Interval
0   Control  4510.0  0.147576  1.224460  0.018233   0.111830  0.183321
1      Test  4428.0  0.327654  2.114156  0.031771   0.265367  0.389942
2  combined  8938.0  0.236789  1.725869  0.018255   0.201005  0.272574,                Independent t-test    results
0  Difference (Control - Test) =     -0.1801
1           Degrees of freedom =   8936.0000
2                            t =     -4.9385
3        Two side test p value =      0.0000
4       Difference < 0 p value =      0.0000
5       Difference > 0 p value =      1.0000
6                    Cohen's d =     -0.1045
7                    Hedge's g =     -0.1045
8                Glass's delta =     -0.1471
9                  Pearson's r =      0.0522)
T-Test results for decile 9
(   Variable        N      Mean        SD        SE  95% Conf.  Interval
0   Control   7666.0  0.144457  1.258400  0.014373   0.116283  0.172632
1      Test   7806.0  0.366749  2.010446  0.022755   0.322143  0.411355
2  combined  15472.0  0.256609  1.684051  0.013539   0.230071  0.283147,                Independent t-test     results
0  Difference (Control - Test) =      -0.2223
1           Degrees of freedom =   15470.0000
2                            t =      -8.2267
3        Two side test p value =       0.0000
4       Difference < 0 p value =       0.0000
5       Difference > 0 p value =       1.0000
6                    Cohen's d =      -0.1323
7                    Hedge's g =      -0.1323
8                Glass's delta =      -0.1766
9                  Pearson's r =       0.0660)
T-Test results for decile 10
(   Variable        N      Mean        SD        SE  95% Conf.  Interval
0   Control  15930.0  0.069661  0.996820  0.007898   0.054180  0.085142
1      Test  16099.0  0.338357  1.710210  0.013479   0.311937  0.364777
2  combined  32029.0  0.204718  1.407948  0.007867   0.189298  0.220138,                Independent t-test     results
0  Difference (Control - Test) =      -0.2687
1           Degrees of freedom =   32027.0000
2                            t =     -17.1550
3        Two side test p value =       0.0000
4       Difference < 0 p value =       0.0000
5       Difference > 0 p value =       1.0000
6                    Cohen's d =      -0.1917
7                    Hedge's g =      -0.1917
8                Glass's delta =      -0.2696
9                  Pearson's r =       0.0954)

In [59]:
#pivot data by decile. By renter averages for testing values. Clearer picture of differences between groups

df_plus_churn_clean = df_plus_churn[df_plus_churn['test_group'].isin(groups)]

df_churn_pivot = df_plus_churn_clean.pivot_table(index='decile', 
                                                 columns='test_group', 
                                                 values= ['rental_count', 'converted','total_gross_revenue', 'promocode_spend_amount'],
                                                 aggfunc='mean')
df_churn_pivot.style.format('{:.2f}')