In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

date_cols = ['step_start_date','latest_rental_date','rental_created_date']

df = pd.read_csv('ivr_prioritization_7_8_21.csv')
df_retention = pd.read_csv('ivr_prioritization_7_8_21.csv')
for col in date_cols:
    df[col] = pd.to_datetime(df[col],errors='ignore')
    df_retention[col] = pd.to_datetime(df_retention[col],errors='ignore')

print(df.info())
print(df_retention.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65573 entries, 0 to 65572
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   exit                 65573 non-null  object
 1   id                   65573 non-null  object
 2   user_id              64916 non-null  float64
 3   tag                  65111 non-null  object
 4   tag_category         65118 non-null  object
 5   csat                 10338 non-null  float64
 6   csat_returned        65573 non-null  int64
 7   step_start_date      65573 non-null  datetime64[ns]
 8   latest_rental_date   63335 non-null  datetime64[ns]
 9   rental_created_date  64858 non-null  datetime64[ns]
 10  hold_time            65573 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 5.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65573 entries, 0 to 65572
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   exit                 65573 non-null  object
 1   id                   65573 non-null  object
 2   user_id              64916 non-null  float64
 3   tag                  65111 non-null  object
 4   tag_category         65118 non-null  object
 5   csat                 10338 non-null  float64
 6   csat_returned        65573 non-null  int64
 7   step_start_date      65573 non-null  datetime64[ns]
 8   latest_rental_date   63335 non-null  datetime64[ns]
 9   rental_created_date  64858 non-null  datetime64[ns]
 10  hold_time            65573 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 5.5+ MB
None

In [69]:
df = df.drop_duplicates(subset='id',keep='first')
print(df.duplicated(subset='id').sum())
print(df.info())

0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21186 entries, 0 to 65572
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   exit                 21186 non-null  object
 1   id                   21186 non-null  object
 2   user_id              20537 non-null  float64
 3   tag                  20999 non-null  object
 4   tag_category         21003 non-null  object
 5   csat                 3623 non-null   float64
 6   csat_returned        21186 non-null  int64
 7   step_start_date      21186 non-null  datetime64[ns]
 8   latest_rental_date   19076 non-null  datetime64[ns]
 9   rental_created_date  20479 non-null  datetime64[ns]
 10  hold_time            21186 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 1.9+ MB
None

In [70]:
print(df.groupby('exit')['csat_returned'].value_counts())

exit               csat_returned
no-match           0                13880
                   1                 2809
power_user_no_vip  0                 1915
                   1                  337
power_user_vip     0                 1768
                   1                  477
Name: csat_returned, dtype: int64

In [71]:
df['user_id'] = df['user_id'].fillna(0)
df['user_id'].isnull().sum()

0

In [72]:
df.isnull().sum()

exit                       0
id                         0
user_id                    0
tag                      187
tag_category             183
csat                   17563
csat_returned              0
step_start_date            0
latest_rental_date      2110
rental_created_date      707
hold_time                  0
dtype: int64

In [73]:
csat_returned = df[df['csat_returned']==1]
print(csat_returned.head())

               exit                  id  user_id               tag  \
177        no-match  5003o00001TfhouAAB      0.0            Credit
323        no-match  5003o00001SgUDdAAN      0.0        Promo Code
435  power_user_vip  5003o00001TfcPaAAJ      0.0  Operator Contact
489        no-match  5003o00001TgKFtAAN      0.0           Booking
551        no-match  5003o00001SiAkcAAF      0.0   General Billing

           tag_category  csat  csat_returned step_start_date  \
177  Customer Questions   5.0              1      2021-06-30
323  Customer Questions   5.0              1      2021-05-29
435              Supply   1.0              1      2021-06-29
489  Customer Questions   5.0              1      2021-07-08
551             Billing   1.0              1      2021-06-21

    latest_rental_date rental_created_date   hold_time
177                NaT                 NaT  437.286002
323                NaT                 NaT    0.000000
435                NaT                 NaT  149.717349
489                NaT                 NaT  934.103863
551                NaT                 NaT    5.499223

In [8]:
csat_returned.shape

(3623, 11)

In [9]:
import scipy.stats as stats

stats.f_oneway(csat_returned['csat'][csat_returned['exit'] == 'no-match'],
               csat_returned['csat'][csat_returned['exit'] == 'power_user_vip'],
               csat_returned['csat'][csat_returned['exit'] == 'power_user_no_vip'])

F_onewayResult(statistic=18.738231594025844, pvalue=8.015400914003312e-09)

In [10]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model1 = ols('csat ~ C(exit)', data=csat_returned).fit()
aov_table = sm.stats.anova_lm(model1, typ=2)
aov_table

C:\Users\Jimmy Reagan\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

              sum_sq      df          F        PR(>F)
C(exit)     60.84549     2.0  18.738232  8.015401e-09
Residual  5877.30687  3620.0        NaN           NaN

In [11]:
stats.shapiro(model1.resid)

(0.5439094305038452, 0.0)

In [12]:
stats.levene(csat_returned['csat'][csat_returned['exit'] == 'no-match'],
               csat_returned['csat'][csat_returned['exit'] == 'power_user_vip'],
               csat_returned['csat'][csat_returned['exit'] == 'power_user_no_vip'])

LeveneResult(statistic=18.738231594025848, pvalue=8.015400914003312e-09)

In [14]:
comp2 = mc.MultiComparison(csat_returned['csat'], csat_returned['exit'])
tbl1, a1, a2 = comp2.allpairtest(stats.ttest_ind, method= "bonf")

tbl1

In [15]:
comp3 = mc.MultiComparison(csat_returned['csat'], csat_returned['exit'])
tbl2, a3, a4 = comp3.allpairtest(stats.ttest_ind, method= "sidak")

tbl2

In [16]:
w, pvalue = stats.shapiro(model1.resid)
print(w, pvalue)

0.5439094305038452 0.0

In [17]:
from bioinfokit.analys import stat 
res = stat()
res.levene(df=csat_returned, res_var='csat', xfac_var='exit')
res.levene_summary

ModuleNotFoundError: No module named 'bioinfokit'

In [18]:
stats.f_oneway(df['csat_returned'][df['exit'] == 'no-match'],
               df['csat_returned'][df['exit'] == 'power_user_vip'],
               df['csat_returned'][df['exit'] == 'power_user_no_vip'])

F_onewayResult(statistic=17.69230215284222, pvalue=2.1025249599805373e-08)

In [19]:
comp4 = mc.MultiComparison(df['csat_returned'], df['exit'])
post_hoc_res2 = comp4.tukeyhsd()
post_hoc_res2.summary()

In [20]:
comp5 = mc.MultiComparison(df['csat_returned'], df['exit'])
tbl3, a5, a6 = comp5.allpairtest(stats.ttest_ind, method= "bonf")

tbl3

In [21]:
categories = ['Facility', 'Customer Questions', 'User Error', 'Reservation Actions', 'Other', 'SH Error']
tag = ['Lot Full', 'Booking', 'Equipment Error', 'Change of Plans', 'Redemption', 'Booked By Mistake', 'Change Date / Time']

def filtered_anova(col_name,list_name):
    for name in list_name:
        print(name + ' ANOVA')
        temp_df = csat_returned[csat_returned[col_name] == name]
        temp_comp = mc.MultiComparison(temp_df['csat'], temp_df['exit'])
        temp_hoc_res = temp_comp.tukeyhsd(alpha = 0.05)
        print(temp_hoc_res.summary())
        
filtered_anova('tag_category', categories)
filtered_anova('tag', tag)

Facility ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip  0.217   -0.1129 0.5469 False
     no-match       power_user_vip   0.7388   0.4776 0.9999  True
power_user_no_vip   power_user_vip   0.5217   0.1392 0.9043  True
------------------------------------------------------------------
Customer Questions ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.3682  -0.7903 0.0538 False
     no-match       power_user_vip  -0.2496  -0.6802 0.181  False
power_user_no_vip   power_user_vip   0.1187  -0.4609 0.6983 False
------------------------------------------------------------------
User Error ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
=================================================================
      group1            group2      meandiff lower  upper  reject
-----------------------------------------------------------------
     no-match     power_user_no_vip  -0.346  -0.634 -0.058  True
     no-match       power_user_vip   0.256   0.0218 0.4902  True
power_user_no_vip   power_user_vip   0.6021  0.2579 0.9462  True
-----------------------------------------------------------------
Reservation Actions ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.1636  -0.5993 0.272  False
     no-match       power_user_vip   0.0333  -0.5425 0.6092 False
power_user_no_vip   power_user_vip   0.197   -0.4973 0.8912 False
------------------------------------------------------------------
Other ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.3302  -1.4938 0.8335 False
     no-match       power_user_vip  -0.1635  -1.4887 1.1618 False
power_user_no_vip   power_user_vip   0.1667  -1.5113 1.8447 False
------------------------------------------------------------------
SH Error ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip  0.1905  -0.5028 0.8838 False
     no-match       power_user_vip   0.3238  -0.2304 0.878  False
power_user_no_vip   power_user_vip   0.1333  -0.6999 0.9666 False
------------------------------------------------------------------
Lot Full ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip  0.2214  -0.2217 0.6645 False
     no-match       power_user_vip   0.7223   0.3887 1.0559  True
power_user_no_vip   power_user_vip   0.5008  -0.0012 1.0029 False
------------------------------------------------------------------
Booking ANOVA
         Multiple Comparison of Means - Tukey HSD,FWER=0.05
===================================================================
      group1            group2      meandiff  lower   upper  reject
-------------------------------------------------------------------
     no-match     power_user_no_vip -0.5697  -1.0811 -0.0582  True
     no-match       power_user_vip  -0.4814  -0.9928   0.03  False
power_user_no_vip   power_user_vip   0.0882  -0.5997  0.7762 False
-------------------------------------------------------------------
Equipment Error ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.2004  -0.9844 0.5835 False
     no-match       power_user_vip   0.625    0.0703 1.1796  True
power_user_no_vip   power_user_vip   0.8254  -0.0507 1.7015 False
------------------------------------------------------------------
Change of Plans ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.1729  -0.4486 0.1027 False
     no-match       power_user_vip   0.1301  -0.1182 0.3784 False
power_user_no_vip   power_user_vip   0.303   -0.0429 0.6489 False
------------------------------------------------------------------
Redemption ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.5476  -1.1769 0.0816 False
     no-match       power_user_vip   0.3182  -0.1945 0.8308 False
power_user_no_vip   power_user_vip   0.8658   0.0917 1.6399  True
------------------------------------------------------------------
Booked By Mistake ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.0523  -0.4312 0.3266 False
     no-match       power_user_vip   0.112   -0.2147 0.4387 False
power_user_no_vip   power_user_vip   0.1643  -0.3058 0.6344 False
------------------------------------------------------------------
Change Date / Time ANOVA
        Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================================
      group1            group2      meandiff  lower  upper  reject
------------------------------------------------------------------
     no-match     power_user_no_vip -0.1946   -0.925 0.5358 False
     no-match       power_user_vip  -0.1746   -1.289 0.9398 False
power_user_no_vip   power_user_vip    0.02   -1.2657 1.3057 False
------------------------------------------------------------------

In [22]:
comp6 = mc.MultiComparison(df['hold_time'], df['exit'])
post_hoc_res3 = comp6.tukeyhsd()
post_hoc_res3.summary()

In [74]:
df_retention['rental_created_date'] = df_retention['rental_created_date'].fillna('1/1/2021')
df_retention['rental_created_date'] = pd.to_datetime(df_retention['rental_created_date'])
df_retention['retention_rentals'] = df_retention['rental_created_date'].apply(lambda x: 1 if df_retention['rental_created_date'] > df_retention['step_start_date'] else 0)
print(df_retention[df_retention['retention_rentals'] == 1].head(20))

#df_retention['rental_created_date'] = df_retention['rental_created_date'].fillna(0)
#print(df_retention['rental_created_date'].tail(50))
#print(df_retention.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65573 entries, 0 to 65572
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   exit                 65573 non-null  object
 1   id                   65573 non-null  object
 2   user_id              64916 non-null  float64
 3   tag                  65111 non-null  object
 4   tag_category         65118 non-null  object
 5   csat                 10338 non-null  float64
 6   csat_returned        65573 non-null  int64
 7   step_start_date      65573 non-null  datetime64[ns]
 8   latest_rental_date   63335 non-null  datetime64[ns]
 9   rental_created_date  65573 non-null  datetime64[ns]
 10  hold_time            65573 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 5.5+ MB
None

In [91]:

df_retention['retention_rentals'] = df_retention['rental_created_date'] > df_retention['step_start_date'] 

print(df_retention[df_retention['retention_rentals'] == True].head(30))

                  exit                  id   user_id                tag  \
658  power_user_no_vip  5003o00001SiVJvAAN  999983.0            Booking
667           no-match  5003o00001SiSf9AAF  999876.0  Booked By Mistake
672  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
673  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
674  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
675  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
676  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
677  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
678  power_user_no_vip  5003o00001SfwzPAAR  999862.0  Booked By Mistake
681           no-match  5003o00001SguVVAAZ  999708.0    Equipment Error
684  power_user_no_vip  5003o00001Sg6MIAAZ  998390.0            Booking
685           no-match  5003o00001Sg6LVAAZ  998390.0          Duplicate
686  power_user_no_vip  5003o00001Sg6MIAAZ  998390.0            Booking
688           no-match  5003o00001Sg6LVAAZ  998390.0          Duplicate
690  power_user_no_vip  5003o00001SgLQhAAN  997815.0           Lot Full
691  power_user_no_vip  5003o00001SgLNYAA3  997815.0           Lot Full
692  power_user_no_vip  5003o00001SgLNYAA3  997815.0           Lot Full
697           no-match  5003o00001SgLQhAAN  997815.0           Lot Full
698  power_user_no_vip  5003o00001SgLQhAAN  997815.0           Lot Full
699           no-match  5003o00001SgLQhAAN  997815.0           Lot Full
701  power_user_no_vip  5003o00001SgLQhAAN  997815.0           Lot Full
702           no-match  5003o00001SgLQhAAN  997815.0           Lot Full
703  power_user_no_vip  5003o00001SgLNYAA3  997815.0           Lot Full
706           no-match  5003o00001Sh4hlAAB  996623.0    Equipment Error
709     power_user_vip  5003o00001SfwI4AAJ  996390.0    Change of Plans
710     power_user_vip  5003o00001SfwI4AAJ  996390.0    Change of Plans
712           no-match  5003o00001SgTa2AAF  995908.0    Vehicle Details
715           no-match  5003o00001SgqepAAB  995217.0    General Billing
720     power_user_vip  5003o00001Sgf47AAB  994989.0    Equipment Error
721     power_user_vip  5003o00001Sgf47AAB  994989.0    Equipment Error

            tag_category  csat  csat_returned step_start_date  \
658   Customer Questions   NaN              0      2021-06-24
667           User Error   NaN              0      2021-06-24
672           User Error   NaN              0      2021-05-21
673           User Error   NaN              0      2021-05-21
674           User Error   NaN              0      2021-05-21
675           User Error   NaN              0      2021-05-21
676           User Error   NaN              0      2021-05-21
677           User Error   NaN              0      2021-05-21
678           User Error   NaN              0      2021-05-21
681             Facility   NaN              0      2021-06-04
684   Customer Questions   1.0              1      2021-05-24
685                Other   NaN              0      2021-05-24
686   Customer Questions   1.0              1      2021-05-24
688                Other   NaN              0      2021-05-24
690             Facility   NaN              0      2021-05-27
691             Facility   NaN              0      2021-05-27
692             Facility   NaN              0      2021-05-27
697             Facility   NaN              0      2021-05-27
698             Facility   NaN              0      2021-05-27
699             Facility   NaN              0      2021-05-27
701             Facility   NaN              0      2021-05-27
702             Facility   NaN              0      2021-05-27
703             Facility   NaN              0      2021-05-27
706             Facility   5.0              1      2021-06-07
709           User Error   NaN              0      2021-05-21
710           User Error   NaN              0      2021-05-21
712  Reservation Actions   NaN              0      2021-05-29
715              Billing   1.0              1      2021-06-03
720             Facility   5.0              1      2021-06-01
721             Facility   5.0              1      2021-06-01

    latest_rental_date rental_created_date  hold_time  retention_rentals
658         2021-06-25          2021-06-25        0.0               True
667         2021-06-30          2021-06-30        0.0               True
672         2021-05-29          2021-05-23        0.0               True
673         2021-05-29          2021-05-29        0.0               True
674         2021-05-29          2021-05-28        0.0               True
675         2021-05-29          2021-05-22        0.0               True
676         2021-05-29          2021-05-24        0.0               True
677         2021-05-29          2021-05-27        0.0               True
678         2021-05-29          2021-05-26        0.0               True
681         2021-06-30          2021-06-30        0.0               True
684         2021-07-07          2021-07-07        0.0               True
685         2021-07-07          2021-06-20        0.0               True
686         2021-07-07          2021-06-20        0.0               True
688         2021-07-07          2021-07-07        0.0               True
690         2021-06-22          2021-06-14        0.0               True
691         2021-06-22          2021-06-22        0.0               True
692         2021-06-22          2021-06-19        0.0               True
697         2021-06-22          2021-06-14        0.0               True
698         2021-06-22          2021-06-19        0.0               True
699         2021-06-22          2021-06-19        0.0               True
701         2021-06-22          2021-06-22        0.0               True
702         2021-06-22          2021-06-22        0.0               True
703         2021-06-22          2021-06-14        0.0               True
706         2021-06-10          2021-06-10        0.0               True
709         2021-05-02          2021-07-08        0.0               True
710         2021-05-02          2021-05-29        0.0               True
712         2021-06-07          2021-06-07        0.0               True
715         2021-06-01          2021-06-06        0.0               True
720         2021-06-05          2021-06-05        0.0               True
721         2021-06-05          2021-06-04        0.0               True

In [96]:
df_grouped = df_retention.groupby('user_id').agg({'user_id':'count','retention_rentals':'sum'})
print(df_grouped)

           user_id  retention_rentals
user_id
3979.0           1                  0
3982.0           4                  1
4322.0           1                  1
5275.0           2                  0
5318.0           4                  3
...            ...                ...
8542225.0        1                  0
8542440.0        1                  0
8542489.0        1                  0
8542491.0        1                  0
8542576.0        1                  0

[17390 rows x 2 columns]

In [97]:
df_grouped.describe()

            user_id  retention_rentals
count  17390.000000       17390.000000
mean       3.732950           1.227487
std        7.089026           3.817341
min        1.000000           0.000000
25%        1.000000           0.000000
50%        2.000000           0.000000
75%        4.000000           1.000000
max      240.000000         103.000000